body{
    background: linear-gradient(255deg, #4bebcc 0%, #8596e6 50%, #e46dd7 100%);
    display: flex;
}
.card{
    margin-top: 100px!important;
    width: 400px;
    margin: auto;
    height: 400px;
    position: relative;
    transition: transform 4s ease-in;
    overflow: hidden;
    border: 2px solid #ccc;
}
img{
    width: 100%;
    height: 400px;
    transition: transform 1s ease-in;
}
img:hover{
    transform: scale(1.2);
}
.card:before{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: "ASMR";
    transform: translateY(-100%);
    font-size: 25px;
    color: #fff;
    display: block;
    background-color: rgba(188, 143, 143, 0.137);
    z-index: 1;
    transition: transform .4s ease-in;
    border: 2px solid #ccc;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.card:after{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: "ASMR";
    transform: translateY(100%);
    font-size: 25px;
    color: #fff;
    display: block;
    background-color: rgba(188, 143, 143, 0.137);
    z-index: 1;
    transition: transform .4s ease-in;
    border: 2px solid #ccc;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.card:hover::before{
    transform: translateY(0%);
}
.card:hover::after{
    transform: translateY(0%);
}
